/* ==========================================================================
   Defaults: Color, Size, Font
   ========================================================================== */

$white: #fff;
$black-one: #1a2738;
$black-two: #22263a;
$black-three: #5a6679;
$black-four: #000000;

$gray: gray;
$gray-one: #f2f4fa;
$purple: #596479;
$border-one: #f3f4f7;
$border-two: #eceef4;






